/* Information page */
/* Colors
232, 250, 227  
E8FAE3  LIGHT WHITE
A3F7B5  LIGHT GREEN
40C9A2
2F9C95
664147
For mains ->font-family: 'Passion One', cursive;


font-family: 'Bowlby One SC', cursive;
font-family: 'Spinnaker', sans-serif;
font-family: 'Scheherazade', serif;
*/


/*  navigation bar  */
.nav_bar{
    margin: 100px auto 0;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;

}

.nav_bar_main{
font-size: 45px;
font-family: 'Passion One', cursive;
letter-spacing: 2px;
margin-bottom: 10px;
}
.nav_bar{
    list-style-type: none;

}
.nav_bar_right{
    float:right;
    letter-spacing: 2px;
margin-bottom: 10px;
margin-left:50px;
margin-top: 15px;
}
/* Buttons in navigation bar  */
#btn_Apply, #btn_Chck, #btn_Del{
    font-size: 20px;
    cursor:pointer;
    border-radius: 5px;
}

#btn_Apply,#btn_Del,#btn_Chck {
    background-color: white; 
    color: black; 
    border: 2px solid #ef476f;
    
}
#btn_Apply:hover,#btn_Del:hover,#btn_Chck:hover{
    background-color: #ef476f;
    color: white;
}

/* Buttons in navigation bar  */


.line{
    height: 1px;
    background-color: black;
    float:none;
    width: 90%;
    padding:10px auto;
}

/*  navigation bar  */


/*The container*/

.grid-item {
	display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size:22px;
    user-select: none;
}
/* Hiding checkbox  / */
/* Hidden Checkboxes,that are making row like a checkbox  */

.checkbox-label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label .checkbox-custom{
position: absolute;
top:10px;
left:20px;
height: 24px;
width: 24px;
background-color: transparent;
border-radius: 5px;
border: 2px solid #E8B4BC;
}

.checkbox-label .checkbox-custom:after{
    position: absolute;
    content: "";
    left:12px;
top: 12px;
height: 0px;
width: 0px;
border-radius: 5px;
border: solid #ba274a;
border-width: 0 3px 3px 0;
transform: rotate(0deg) scale(0);
opacity:1;
}

.checkbox-label input:checked ~.checkbox-custom {
 background-color: #fff;
 border-radius: 5px;
 transform:rotate(0deg) scale(1);   
 opacity:1;
 border:2px solid #fff;
}

.checkbox-label input:checked ~.checkbox-custom:after{
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #ba274a;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;

}
/* Hidden Checkboxes,that are making row like a checkbox  */
.grid-container{
    width: 90%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 4fr));
    background-color: white;
    padding: 10px;
    column-gap: 3%;
    row-gap: 5%;
}
.grid-item{
    background-color:rgba(247, 214, 224,0.3) ;
    border: 1px solid #E8B4BC;
    padding: 20px;
   
    text-align: center;
}

.grid-item:hover {
    border: 1px solid #5D576B; 
    background-color:rgba(247, 214, 224,0.8) ;
    color:rgb(15, 12, 179);
    box-shadow: -5px 5px 20px 0 #415755;
}

.price{
    margin:0 auto;
    width: 50%;
    height: auto;
    background-color: white;
    border: 1px solid #E8B4BC;
    font-size:20px;
    color:#ba274a;

}

.name{
    font-family: 'Scheherazade', serif;
    font-size: 30px;

}
.SKU{
    font-family: 'Spinnaker', sans-serif;
    font-size: 15px;
    color:rgb(167, 17, 104)
}
