$invalidColor:#b03535;
$invalidShadow:0 0 5px #d45252;

$validColor:#28921f;
$validShadow:0 0 5px #5cd053;
/* box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
    Invalid zone */
/* box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
    Valid */
body {
  width: 90%;
  margin: 10px auto; }

#btn_Apply {
  display: block;
  float: right;
  font-size: 1.5em;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #ef476f; }

#btn_Apply:hover {
  cursor: pointer;
  background-color: #ef476f;
  color: white;
  text-shadow: 0 -1px 0 #396715;
  opacity: .8; }

.product_add {
  margin: 20px auto 0;
  padding: 20px; }

::-webkit-input-placeholder {
  color: #b32583; }

:-moz-placeholder {
  color: #b32583; }

*:focus {
  outline: none; }

.adding_form {
  font-family: Georgia, 'Times New Roman', Times, serif; }

.form_hint, .require_notification {
  font-size: 11px; }

.adding_form h2, .adding_form label {
  font-family: Georgia, 'Times New Roman', Times, serif; }

.adding_form ul {
  width: 100%;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0; }

.adding_form li {
  padding: 12px;
  position: relative; }

.adding_form h2 {
  margin: 0;
  display: inline-block; }

.require_notification {
  color: #d45252;
  margin: 5px 0 0 0;
  display: inline-flex;
  float: left; }

.adding_form label {
  width: 10%;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px; }

/*<-----------------Hide Input Number Arrows------>>
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

/*<-----------------Hide Input Number Arrows------>>*/
.adding_form input {
  height: 1.3em;
  width: 25%;
  padding: 0.4em 0.5em; }

.adding_form select {
  height: 2em; }

.adding_form input, select {
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 2px; }

.adding_form input:focus, select:focus {
  background: #fff;
  border: 1px solid #555;
  box-shadow: 0 0 3px #aaa; }

/* Adding some space */
.adding_form input:focus, select:focus {
  padding-right: 10%; }

/* Declaring time , when padding will be fully extended */
.adding_form input, select {
  -moz-transition: padding .25s;
  -webkit-transition: padding .25s;
  -o-transition: padding .25s;
  transition: padding .25s;
  padding-right: 30px; }

/* Adding asterisk in aim to show, where user should to enter info */
input:required {
  background: #fff url(../images/ast.png) no-repeat 95% center; }

/* <<----------------------Validation------------------> */
.adding_form input:required:invalid {
  background: #fff url(../images/error.png) no-repeat 95% center;
  box-shadow: $invalidShadow;
  border-color: $invalidColor; }

.adding_form input:required:valid {
  background: #fff url(../images/succes.png) no-repeat 95% center;
  box-shadow: $validShadow;
  border-color: $validColor; }

/* <<----------------------Validation------------------> */
/* <<----------------------Formatting hint form------------------> */
.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999;
  position: absolute;
  display: none; }

/*aDDING triangle to hints */
.form_hint::before {
  content: "\25C0";
  color: #d45252;
  position: absolute;
  top: 1px;
  left: -6px; }

.adding_form input:focus + .form_hint {
  display: inline; }

.adding_form input:required:valid + .form_hint {
  background-color:$validColor; }

.adding_form input:required:valid + .form_hint::before {
  color: $validColor; }

/* <<----------------------------------------------------------------------> */
.display_none{
  display:none;
}